@media (max-width: 540px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar .container {
    max-width: 540px;
  }
}

@media (max-width: 768px) {

  .navbar,
  .navbar .container {
    display: block;
  }

  .navbar .navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}

@media (min-width: 768px) {
  .navbar .container {
    max-width: 720px;
  }

  .hero {
    padding-top: 150px;
  }

  .garansi__logo-wrapper {
    position: relative;
  }

  .col-sm-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .garansi__logo-wrapper>img {
    position: absolute;
    bottom: -15px;
    right: 24%;
  }

  .garansi__logo-wrapper>img:hover {
    filter: grayscale(70%) brightness(1.0);
    transition: 0.3s;
  }

  .garansi__text-wrapper {
    margin-top: 0;
    padding-left: 0;
    text-align: left;
  }

  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}

@media (min-width: 992px) {
  .navbar .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .navbar .container {
    max-width: 1140px;
  }
}

.navbar .navbar-header {
  display: flex;
  align-items: center;
}

.navbar .navbar-header .navbar-toggler {
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}

@media (max-width: 768px) {
  .navbar .navbar-header .navbar-toggler {
    display: block;
  }
}

.navbar .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #929aad;
  display: block;
}

.navbar .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}

.navbar .navbar-header>a {
  font-weight: 500;
  color: #3c4250;
}

.navbar .navbar-menu {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar .navbar-menu {
    display: none;
    text-align: center;
  }
}

.navbar .navbar-menu .navbar-nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav {
    width: 100%;
    display: block;
    border-top: 1px solid #eee;
    margin-top: 1rem;
  }
}

.navbar .navbar-menu .navbar-nav>li>a {
  color: #3c4250;
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
}

.navbar .navbar-menu .navbar-nav>li>a:hover {
  color: #00ab4e;
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav>li>a {
    border-bottom: 1px solid #eee;
  }
}

@media (max-width: 768px) {
  .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
    position: relative;
    box-shadow: none;
  }
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a {
  color: #3c4250;
  padding: 0.25rem 1rem;
  display: block;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show {
  display: block !important;
}

.navbar .navbar-menu .navbar-nav .dropdown>.separator {
  height: 1px;
  width: 100%;
  margin: 9px 0;
  background-color: #eee;
}

.navbar .navbar-dropdown {
  position: relative;
}

.navbar .navbar-header>a span {
  color: #00ab4e;
}

.navbar .navbar-header>a span:hover {
  color: #3c4250;
}

.navbar .navbar-header h4 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

.navbar .navbar-header h4:hover {
  color: #00ab4e;
}

@media (max-width: 768px) {
  .navbar .navbar-header h4 {
    font-size: 1.05rem;
  }
}

@media (max-width: 767px) {
  .block-fe__step {
    padding: 10px 0;
  }

  .block-fe__step-description {
    padding: 0 10px;
    margin-top: 30px;
  }

  .block-fe__step-flow {
    margin-top: 50px;
  }

  .block-fe__fitur-description {
    padding: 0 10px;
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .block-fe__step-flow-box {
    flex-direction: column;
    padding: 0 10px;
  }

  .block-fe__step-flow-box-left {
    width: unset;
  }

  .block-fe__fitur-point-item-description {
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .block-fe__step-flow-box-right {
    padding-top: unset;
  }
}

@media (max-width: 576px) {
  .jumbotron-fe__title {
    font-size: 30px;
    line-height: 42px;
  }

  .jumbotron-fe__description {
    font-size: 16px;
    line-height: 177.32%;
    letter-spacing: .05em;
  }
}

@media (max-width: 768px) {
  .jumbotron-fe__image {
    margin-left: 12px;
    margin-top: 76px;
  }

  .buset-box {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .harga-buset__card:not(:last-child) {
    margin-right: 28px;
  }

  .harga-buset__card {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0 !important;
  }

  .harga-buset-fe {
    margin-top: 48px;
  }

  .harga-buset-fe .card-body {
    padding: 24px;
  }

  .harga-buset-fe__description {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: .05em;
    color: #757a94;
  }

  .harga-buset-fe__description a {
    display: inline;
  }

  .harga-buset-fe__description,
  .harga-buset-fe__img,
  .harga-buset-fe__title {
    text-align: left;
  }

  .harga-buset-fe__img {
    margin-top: 0;
    width: 100%;
    margin-bottom: 0;
  }

  .harga-buset-fe .col-lg-6 {
    max-width: none;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1200px) {
  .col-lg-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 992px) {
  footer-menu h4 {
    margin-bottom: 30px;
  }

  .support-fe>.row .buset-holder:first-child {
    padding-right: 20px;
    padding-left: 120px;
  }
}

@media (max-width: 1200px) {
  .footer-menu h4 {
    font-size: 17px;
    margin-bottom: 36px;
  }

  .footer-menu ul li {
    margin-bottom: 16px;
    font-size: 13px;
  }

  .sub-footer .copyright {
    text-align: center;
  }

  .custom-footer-menu ul.social li {
    margin-right: 20px;
  }

  .support-fe>.row .buset-holder:first-child {
    padding-left: 116px;
  }

  .support-fe>.row .buset-holder:last-child {
    padding-right: 116px;
  }
}

@media (max-width: 480px) {
  .support-fe>.row .buset-holder {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .buset-box {
    padding: 0 15px 15px 100px;
  }

  .buset-box .icon {
    width: 70px;
    height: 70px;
  }

  .buset-box .icon img {
    width: 35px;
  }
}

@media (max-width: 768px) {

  .support-fe>.row .buset-holder:first-child,
  .support-fe>.row .buset-holder:last-child {
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
  }
}