@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 0.925rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

.container {
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Mulai Bagian Navbar */
.navbar {
  padding: 1.15rem 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar,
.navbar .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-header svg {
  width: 115px;
}

.navbar .navbar-header svg:hover {
  filter: grayscale(100%) brightness(1.3);
  transition: 0.3s;
}

.navbar .navbar-menu .navbar-nav>li.active a {
  color: #00ab4e;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown {
  list-style: none;
  position: absolute;
  top: 150%;
  left: 0;
  background-color: #fff;
  padding: 0.5rem 0;
  min-width: 160px;
  width: auto;
  white-space: nowrap;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-radius: 0.75rem;
  display: none;
}

.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a:hover {
  color: #00ab4e;
  transition: 0.3s;
}

/* Akhir Bagian Navbar */

/* Awal Bagian Jumbotron */

.jumbotron-fe {
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  color: #fff;
  padding-top: 192px;
  padding-bottom: 93.39px;
}

.hero {
  padding: 100px 0;
}

.align-items-center {
  align-items: center !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-7,
.col-md-5,
.col-12, .col-lg-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron-fe__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
}

.jumbotron-fe__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: .05em;
  margin: 29.84px 0;
}

.jumbotron-fe__image {
  filter: saturate(4) brightness(1.0);
  max-width: 85%;
  margin-left: 100px;
  transition: 0.45s;
}

.jumbotron-fe__image:hover {
  filter: saturate(.8) brightness(1.0);
  transition: 0.45s;
  transform: translateY(-10px);
}
z
/* Akhir Bagian Jumbotron */

/* Awal Bagian Content */

.tim-f01 {
  padding: 100px 0;
}

.tim-f01__title {
  margin-top: 45px;
  font-weight: 700;
  font-size: 33px;
  line-height: 45px;
  color: #07aa4d;
}

.tim-f01__title, .tim-f01__description {
  text-align: center;
}

.tim-f01__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: rgba(58, 65, 102, .7);
  margin: 20px 0 80px;
}

.justify-content-center {
  justify-content: center !important;
}

.tim-f01__daftar-anggota--mb-30 {
  margin-bottom: 30px;
}

.tim-f01__daftar-anggota {
  border: 1px solid #ddd;
  box-sizing: border-box;
  border-radius: 20px;
  min-height: 360px;
  height: 100%;
  margin: 0 auto;
}

.tim-f01__daftar-anggota-image--posisi {
  padding: 90px 40px 70px;
}

.tim-f01__daftar-anggota-image {
  
}

.tim-f01__daftar-anggota-nama {
  
  color: #07aa4d;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}

.tim-f01__daftar-anggota-tugas {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  
  color: rgba(58, 65, 102, .7);
  padding: 0 35px 40px;
}

.block-fe__step {
  padding: 100px 0 75px;
  background: #f6fbff;
}

.block-fe__step-title {
  text-transform: capitalize;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 45px;
  
  color: #07aa4d;
  margin-top: 35px;
}

.block-fe__step-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  
  color: rgba(58, 65, 102, .7);
  margin-top: 50px;
  padding: 0 50px;
}

.block-fe__step-flow {
  margin-top: 80px;
}

.block-fe__step-flow-box {
  display: flex;
  justify-content: space-between;
}

.block-fe__step-flow-box-left {
  width: 50%;
}

.block-fe__step-flow-box-left-item {
  width: 100%;
  box-shadow: 0 6px 20px rgba(17, 26, 104, .15);
  background: #fff;
  border-radius: 8px;
  padding: 16px 24px;
  position: relative;
  margin-bottom: 65px;
}

.block-fe__step-flow-box-left-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #07aa4d;
  padding-left: 77px;
}

.block-fe__step-flow-box-left-item-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 177.32%;
  color: rgba(58, 65, 102, .7);
  margin-top: 10px;
}

.block-fe__step-flow-box-left-item-number {
  position: absolute;
  background: #fff;
  box-shadow: 0 3px 10px rgba(17, 26, 104, .15);
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #07aa4d;
  width: 48px;
  height: 48px;
  
  padding-top: 12px;
  top: -24px;
}

.block-fe__step-flow-box-right img {
  width: 100%;
}

.block-fe__step-flow-box-right img:hover {
  filter: grayscale(70%) brightness(1.0);
  transition: 0.3s;
}

.block-fe__fitur {
  padding: 50px 0 20px;
}

.block-fe__fitur-title {
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 45px;
  color: #07aa4d;
  text-align: center;
}

.block-fe__fitur-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  text-align: center;
  color: rgba(58, 65, 102, .7);
  margin-top: 60px;
  padding: 0 120px;
}

.block-fe__fitur-point {
  margin-top: 100px;
}

.block-fe__fitur-point-item {
  text-align: center;
  margin-bottom: 100px;
}

.block-fe__fitur-point-item img {
  width: 50px;
}

.block-fe__fitur-point .block-fe__fitur-point-item .icon {
  display: inline-block;
  background-color: #ecf0f6;
  width: 94px;
  height: 94px;
  border-radius: 100px;
  padding-top: 20px;
  transition: 0.3s;
}

.block-fe__fitur-point .block-fe__fitur-point-item .icon:hover {
  transform: translateY(-10px);
  transition: 0.3s;
  background-color: rgba(255, 255, 255, .4);
  border: 2px solid #21bd67;
}

.block-fe__fitur-point-item-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #07aa4d;
  margin-top: 20px;
  transition: 0.3s;
}

.block-fe__fitur-point-item-title:hover {
  font-weight: 400;
  transition: 0.3s;
}

.block-fe__fitur-point-item-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 177.32%;
  text-align: center;
  color: rgba(58, 65, 102, .7);
  margin-top: 8px;
  padding: 0 55px;
}

.garansi {
  padding: 50px 0;
}

.garansi__logo-wrapper {
  text-align: center;
}

.garansi__title {
  font-weight: 700;
  font-size: 33px;
  color: #07aa4d;
  text-align: left;
}

.garansi__description {
  font-size: 18px;
  font-weight: 400;
  opacity: .7;
  line-height: 2em;
  margin: 30px 0 40px;
  text-align: left;
}

/* Akhir Bagian Content */

/* Awal Bagian Footer */
.footer-container {
  background-color: #07aa4d;
  width: 100%;
}

.footer-content-container {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  padding: 5px;
}

.icon-container svg {
  height: 40px;
  margin: 0 5px;
  padding: 5px;
  width: 40px;
  transition: 0.3s;
}

.icon-container svg:hover {
  cursor: pointer;
  filter: grayscale(90%) brightness(1.3);
  transition: 0.3s;
  border-radius: 20px;
}

.information-container {
  display: flex;
  transition: 0.3s;
  flex-direction: row;
}

.information-container h3:hover {
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.5;
}

.information-container span {
  color: #fff;
  font-size: 12.5px;
  margin: 0 5px;
}

.policy-container {
  display: flex;
  flex-direction: row;
}

.terms {
  transition: 0.3s;
}

.terms:hover {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5;
}

.policy-container span {
  font-size: 12.5px;
  color: #fff;
}

.policy {
  transition: 0.3s;
}

.policy:hover {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.6;
}

.policy-container span {
  margin: 0 5px;
}

.copyright-container {
  opacity: 0.7;
}

.footer-content-container h3 {
  font-size: 13.5px;
  font-weight: 400;
  color: #fff;
}
/* Akhir Bagian Footer */

/* Lain-lain (Button dan Image) */
.fe-btn {
  display: inline-block;
  padding: 12px 35px;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase;
  background: #f0f0f0;
  text-align: center;
  border-radius: 30px;
}

.fe-btn,
.fe-btn:hover {
  transition: all 0.45s;
}

.fe-btn--white {
  color: #21bd67;
  background: #fff;
  border: none;
}

.fe-btn--white:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.1);
  border: 2px solid #fff;
}

.fe-btn--green {
  color: #fff;
  background: #21bd67;
  border: none;
}

.fe-btn--green:hover {
  color: #21bd67;
  background-color: #fff;
  border: 2px solid #21bd67;
}

.img-fluid,
.img-thumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 25%;
}
.harga-buset {
  padding: 70px 0 65px;
  background: #f6fbff;
}
.harga-buset__title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 33px;
  color: #07aa4d;
}
.harga-buset__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.harga-buset__card>a {
  color: #3a4166;
}
.harga-buset__card {
  display: inline-block;
  max-width: 260px;
  height: 394px;
  padding: 55px 24px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 6px 20px rgba(17,26,104,.2);
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  transition: all .4s;
}
.harga-buset__card:not(:last-child) {
  margin-bottom: 30px;
}
.harga-buset__service-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 18px;
}
.harga-buset__service-description {
  font-size: 14px;
  color: rgba(58,65,102,.7);
  margin-bottom: 24px;
}
.harga-buset__service-start-from {
  font-size: 14px;
  font-weight: 700;
  opacity: .7;
}
.harga-buset__service-price {
  font-size: 24px;
  font-weight: 700;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.harga-buset-fe {
  margin-top: 55px;
  margin-left: 0!important;
  margin-right: 0!important;
  position: relative;
}
.harga-buset-fe .card-body {
  border-radius: 8px;
  padding-bottom: 55px;
}
.harga-buset-fe .col-lg-6 {
  max-width: 260px;
  padding-left: 0;
  padding-right: 0;
}
.harga-buset-fe .card {
  background: #fff;
  box-shadow: 0 6px 20px rgba(17,26,104,.2);
  border-radius: 8px;
  border: 0;
}
.card:not(last-child) {
  margin-bottom: 20px!important;
}
.harga-buset__service-image {
  margin-bottom: 30px;
  transition: 0.45s;
}
.harga-buset__service-image:hover {
  filter: saturate(1.3) brightness(1.0);
  transition: 0.45s;
  transform: translateY(-10px);
}
.harga-buset-fe__img {
  display: block;
  margin: 30px auto;
  width: 92px;
  height: auto;
  transition: 0.45s;
}
.harga-buset-fe__img:hover {
  filter: saturate(1.3) brightness(1.0);
  transition: 0.45s;
  transform: translateY(-10px);
}
.harga-buset-fe__title {
  font-size: 18px;
  line-height: 25px;
  color: #3a4166;
  margin-bottom: 16px;
}
.harga-buset-fe__description a {
  color: #07aa4d;
  display: block;
}
.harga-buset-fe__description {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: .05em;
  color: #757a94;
}
.harga-buset-fe__description, .harga-buset-fe__img, .harga-buset-fe__title {
  text-align: center;
}