@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

 * {
	 box-sizing: border-box;
	 padding: 0;
	 margin: 0;
}
 body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.925rem;
    font-weight: 400;
}
 a {
	 text-decoration: none;
}
 .container {
	 width: 1170px;
	 position: relative;
	 margin-left: auto;
	 margin-right: auto;
	 padding-left: 15px;
	 padding-right: 15px;
}
.navbar {
    padding: 1.15rem 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035);
	background-color: #fff;
	position :fixed;
	top: 0;
	z-index: 10;
}
 .navbar, .navbar .container {
	 width: 100%;
	 display: flex;
	 flex-wrap: wrap;
	 align-items: center;
	 justify-content: space-between;
}
.landing-header__logo {
    width: 115px;
}
.landing-header__logo:hover {
    filter: grayscale(100%) brightness(1.3);
}

.footer-container {
    background-color: aquamarine;   
    width: 100%;
}
.footer-content-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
.icon-container {
    padding: 5px;
}
img {
    height: 25px;
    margin: 0 5px;
    padding: 5px;
    width: 25px;
    transition: 0.3s;
    border-radius: 20px;
}
img:hover {
    cursor: pointer;
    background-color: #db18a1;
    transition: 0.3s;
    border-radius: 20px;
}
.information-container {
    display: flex;
    transition: 0.3s;
    flex-direction: row;
}
.information-container h3:hover {
    transition: 0.3s;
    cursor: pointer;
    color: #db18a1;
}
.information-container span {
    color: black;
    margin: 0 5px;
}
.policy-container {
    display: flex;
    flex-direction: row;
}
.terms {
    transition: 0.3s ;
}
.terms:hover {
    cursor: pointer;
    transition: 0.3s ;
    color: #db18a1;
}
.policy-container span {
    color: black;
}
.policy {
    transition: 0.3s;
}
.policy:hover {
    cursor: pointer;
    transition: 0.3s ;
    color: #db18a1;
}
.policy-container span {
    margin: 0 5px;
}
.copyright-container {
    opacity: 0.7;
}
h3 {
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}